body{
	/* background: url(https://nebula.wsimg.com/a1579a6a5917cb20edd82650b9b82402?AccessKeyId=9F9F5D4A188D0CAF9AD3&disposition=0&alloworigin=1); */
	background: url("KCMap.jpg");
	background-size: cover;
	background-position: center;
	font-family: 'Oxygen',sans-serif;
	color: white;
}
html{
	height: 100%;
}
#content {
    background-color: #f8f8f8;
    color: rgb(48, 47, 47);
	text-align: center;
    padding-top: 10%;
    font-size: 1.5em;
    max-width: 970px;
}

hr{
	width:400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: rgba(0,0,0,0.2);
}